* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f4f6f8;
    color: #333;
}

/* NAVBAR */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    z-index: 100;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

/* SECTION */
section {
    padding: 100px 15%;
    min-height: 100vh;
}

h2 {
    margin-bottom: 20px;
    color: #0f172a;
}

/* HOME */
.home {
    background: linear-gradient(135deg, #0ea5e9, #1e293b);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home span {
    color: #38bdf8;
}

.btn {
    margin-top: 20px;
    width: fit-content;
    background: white;
    color: #0ea5e9;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
}

/* PROJECT */
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* SKILL */
.skill {
    margin-bottom: 20px;
}

.bar {
    background: #ddd;
    height: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

.bar div {
    height: 10px;
    border-radius: 10px;
    background: #0ea5e9;
}

.html { width: 90%; }
.css { width: 85%; }
.js { width: 75%; }

/* CONTACT */
form {
    max-width: 400px;
}

input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #0ea5e9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #0f172a;
    color: white;
}
